rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow read access to all users
    match /{document=**} {
      allow read: if true;
      
      // Allow write access only to authenticated users
      allow create, update, delete: if request.auth != null;
    }
  }
}
